/*  your css code here. If applicable */
#yellow{
	border-style:solid;
	background -color:#FFFF00;
	border-width:1px;
	border-color: green;
	}
	#red{
		border-style:solid;
	background -color:#FF0000;
		border-width:1px ;
		border-color: #000000;
		}
		#green{
			border-style:solid;
	background -color:008000;
			border-width:1px ;
			border-color: yellow;
}